div.content{
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  width: 750px;
  margin: 20px 0;
  position: absolute;
  left: 50px;
}

body {
  background-color: #ccc;
  font-family: 'Francois One', sans-serif;
}

canvas {
  border: 1px solid #000;
  display: block;
  margin: auto;
}

h1 {
  font-size: 50px;
  text-align: center;
  border-bottom: 2px solid blue;
  border-top: 2px solid blue;

}

p {
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  padding: 10px 0;
  text-align: center;
}

label {
  color: #fff;
  font-size: 20px;
  position: relative;
  float: right;
  height: 50px;
  margin-right: 10px;
  border: 1px solid black;
  display: block;
  border-radius: 20px;
  padding: 10px;
  width: 100px;

}

label.score {
  background-color: green;
  top: 100px;
  left: 19px;
}

label.lives {
  background-color: red;
  top: 200px;
  left: 150px;
}

label.level {
  background-color: #fff;
  color: #000;
  top: 100px;
  right: 363px;
  text-align: right;
}

label.how-to-play-link {
  background-color: black;
  top: 200px;
  right: 230px;
  text-align: center;
  font-size: 18px;
  height: 75px;
}

label.how-to-play-link > a {
	color: #CC0;
	text-decoration: none;
}

label.how-to-play-link > a:hover {
	font-weight: bold;
	text-decoration: underline;
}

button {
  display: block;
  width: 200px;
  margin: 5px auto;
  border: 1px solid blue;
  border-radius: 20px;
  position: relative;
  left:250px;
  font-size: 30px;
}

button.clicked {
  border: 1px solid blue;
  background-color: yellow;
}
