div.content{
  background-color: #ccc;
  border-radius: 20px;
  padding: 20px;
  width: 750px;
  margin: 20px 0;
  position: absolute;
  left: 150px;
  transition: all 500ms
}

body {
  background-color: #555;
  font-family: 'Francois One', sans-serif;
}

canvas {
  border: 1px solid #000;
  display: block;
  margin: auto;
}

h1 {
  font-size: 50px;
  text-align: center;
  border-bottom: 2px solid blue;
  border-top: 2px solid blue;

}

p.footer {
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  padding: 10px 0;
  text-align: center;
}

label {
  color: #fff;
  font-size: 20px;
  position: relative;
  float: right;
  height: 50px;
  margin-right: 10px;
  border: 1px solid black;
  display: block;
  border-radius: 20px;
  padding: 10px;
  width: 100px;

}

label.score {
	z-index: 10;
  background-color: green;
  top: 100px;
  left: 19px;
}

#score {
	transition: all 100ms;
}

label.lives {
  background-color: red;
  top: 200px;
  left: 150px;
}

#lives {
	transition: all 500ms;
}

label.level {
  background-color: #fff;
  color: #000;
  top: 100px;
  right: 363px;
  text-align: right;
}

label.how-to-play-link {
  background-color: black;
  top: 200px;
  right: 230px;
  text-align: center;
  font-size: 18px;
  height: 75px;
}

label.options {
	position: absolute;
	z-index: 100;
	float: right;
	color: #000;
	background-color: #FFF;
	top: 520px;
	right: 0px;
	height: 75px;
	text-align: left;
}

label.how-to-play-link > a {
	color: #CC0;
	text-decoration: none;
}

label.how-to-play-link > a:hover {
	font-weight: bold;
	text-decoration: underline;
}

#score-flash {
	width: 500px;
	height: 500px;
	position: absolute;
	left: 800px;
	top: 320px;
	color: #FF0000;
	font-size: 20px;
	opacity: 0;
	transition: top 500ms, opacity 500ms;
}

button.pause {
  display: block;
  width: 200px;
  margin: 5px auto;
  border: 1px solid blue;
  border-radius: 20px;
  position: relative;
  left:250px;
  font-size: 30px;
}

button.clicked {
  border: 1px solid blue;
  background-color: yellow;
}

.info {
	position: absolute;
	color: #FFF;
	z-index: 1000;
	top: 110px;
}

#click-here-left {
	left: 220px;
}

#click-here-right {
	left: 640px;
}

p.caption {
	position: relative;
	left: 60px;
	top: 80px;
}

.invisible {
	opacity: 0;
}

.off {
	display: none;
}

.modal-screen {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: #222;
	opacity: 0.5;
	z-index: 10000;
}

.how-to-play-info {
	position: absolute;
	background-color: #000;
	color: #FFF;
	border: 2px solid #CCC;
	border-radius: 20px;
	top: 200px;
	left: -1000px;
	transition: left 1s;
	height: 500px;
	width: 500px;
	overflow: scroll;
	z-index: 10001;
	line-height: 300%;
}

button.close-dialog {
	position: relative;
	float: right;
	background-color: #F00;
	border: 2px solid #CCC;
	z-index: 10002;
	font-size: 30px;
}

button.close-dialog:hover {
	color: #FFF;
	font-weight: bold;
}
